<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block head_title%} Django 1.11 {% endblock head_title%}</title>
    {% include 'partials/css.html' %}
</head>
<body>
<h2> Django 1.11</h2>
<nav>
   {% include 'partials/nav.html' %}
</nav>
<div class="container">
    {% block content %}
        Hello there from base.
    {% endblock content %}

</div>
{% include 'partials/js.html' %}
</body>
</html>